@import "~bulma/sass/utilities/initial-variables"

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// PPL
// https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=3&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.6470031194297449,0.2981840463458111,0.9901960784313726,0.5950883476081412,0.445941027926322,0.7418300653594772,0.45098039215686275,0.20784313725490197,0.6901960784313725,0.7943249750011753,0.5952428698752228,0.9901960784313726,0.3202985739751211,0.1476158645276292,0.4901960784313724&swatchOrder=0,1,2,3,4
$purple: #7335b0
$light-purple: #CB98FC
$dark-purple: #52267D
$black: #2b2c2d

$primary: $purple

$body-background-color: $white-ter
$roundedness: 10px

$navbar-height: 2.5rem
$navbar-item-img-max-height: 2.0rem

$link: $purple
$link-hover: $light-purple

$img-shadow: 0 2px 3px rgba(43, 44, 45, 0.1), 0 0 0 1px rgba(43, 44, 45, 0.1)
$nav-shadow: 0 2px 3px rgba(43, 44, 45, 0.1)

@import "~bulma"

.initial
  #content
    visibility: hidden
  
  #nav 
    opacity: 0
    transform: translateY(10px)

.loaded
  #content
    visibility: visible
  
  #nav
    opacity: 1
    transform: translateY(0px)

.navbar
  box-shadow: $nav-shadow

.navbar-burger
  height: 3rem

.hero-background
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/Shiawese.jpg")

.background
  background-repeat: repeat

.is-hexellence
  background-image: url("/img/Textures/hexellence.png")

.is-honeycomb
  background-image: url("/img/Textures/honey-im-subtle.png")
  background-color: $white

.card
  border-radius: $roundedness

.card img
  border-radius: $roundedness $roundedness 0px 0px

img
  border-radius: $roundedness

#post img
  box-shadow: $img-shadow

.section
  &.is-small
    padding: 1rem 1.5rem
